{
  "contractTypes": <%= data.contract_factors.to_json %>,
  "countryNoHire": <%= data.country_no_hire.to_json %>,
  "currencyExchangeRates": <%= data.currency_exchange_rates.to_json %>,
  "locationFactors": <%= data.location_factors.to_json %>,
  "roles": <%= data.roles.select(&:salary).to_json %>,
  "roleLevels": <%= data.role_levels.to_json %>,
  "equityCalculator": <%= data.equity_calculator.to_json %>
}
